*,
*::before,
*::after {
  box-sizing: border-box;
}

blockquote,
body,
dl, dd,
figure,
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
  margin: 0;
}

html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--fg);
  display: flex;
  flex-direction: column;
  font: var(--sz-0)/var(--lh) var(--ff-alpha, sans-serif);
  letter-spacing: 0.015em;
  margin: 0 var(--sp-md);
  min-height: 100%;
  position: relative;
  text-rendering: optimizeSpeed;
}

body > * {
	margin-left: auto;
	margin-right: auto;
  max-width: var(--mx-wd);
  width: 100%;
}

body > * + * {
  margin-top: var(--vr-lg);
}

body > :not(main) {
  flex-grow: 0;
  flex-shrink: 0;
}

body > main {
  flex-grow: 1;
}

a {
  color: #28428e;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  line-height: var(--lh-sm);
}

h1, h2 {
  max-width: 28ch;
}

h1 {
  font-size: var(--sz-4);
}

h2 {
  font-size: var(--sz-3);
}

h3 {
  font-size: var(--sz-2);
}

/* figure {} */

img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}

dd,
[role="list"] {
  padding-left: 0;
}

[role="list"] {
  list-style: none;
}

summary {
  cursor: pointer;
}

address {
  font-style: normal;
}

small {
  font-size: var(--sz-xs);
}

@media (min-width: 36.25rem) {
  /* About page clip path / shape outside */
  [src$="biographie-spa.jpg"] {
	  float: right;
	  clip-path: polygon(61% 0, 34% 4%, 47% 14%, 48% 19%, 28% 10%, 2% 77%, 39% 76%, 31% 77%, 0 79%, 7% 97%, 78% 98%, 98% 78%, 97% 74%, 72% 74%, 72% 72%, 100% 70%, 65% 19%);
	  shape-outside: polygon(61% 0, 34% 4%, 47% 14%, 48% 19%, 28% 10%, 2% 77%, 39% 76%, 31% 77%, 0 79%, 7% 97%, 78% 98%, 98% 78%, 97% 74%, 72% 74%, 72% 72%, 100% 70%, 65% 19%);
	  margin-left: 1rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
