.home-grid {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  row-gap: 2rem;
}

.home-grid a {
	display: block;
}

.home-grid img {
  height: auto;
  margin: 0 auto;
}
