/* Page navigation */

.nav-page {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-sm);
  justify-content: space-between;
}

.nav-page a {
  background: transparent;
  display: block;
  font-size: var(--sz-2);
  font-weight: 700;
  padding: var(--sp-xs);
}

.nav-page a:hover {
  background: hsl(0, 0%, 96%, 0.75);
}

.nav-page [rel="next"],
.nav-page [rel="prev"] {
  align-items: center;
  background: transparent;
  color: var(--fg);
  bottom: 0;
  display: flex;
  justify-content: center;
  max-width: fit-content;
  position: absolute;
  text-decoration: none;
  top: 0;
}

.nav-page [rel="prev"] {
  right: 0;
}

.nav-page [rel="next"] {
  left: 0;
}
