/* Portfolio */

.portfolio__fig {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  position: relative;
}

.portfolio__fig > * + * {
  margin-top: var(--sz-0);
}

.portfolio__fig h1 {
  font-size: var(--sz-sm);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  max-width: none;
}
