:root {
  --fz: 16;
  --lh: 1.5;
  --lh-sm: 1.2;
  --lh-x-sm: 1.15;
  --mx-wd: 80rem;
  --mx-wd-sm: 50rem;

  /* Font families */
  --ff-mono: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
  --ff-sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --ff-serif: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
  --ff-alpha: var(--ff-sans-serif);

  /* Palette */
  --bg: var(--aliceblue);
  --bg-lt: var(--white);
  --fg: var(--navy);
  --fg-ln: var(--blue-green);
  --fc: var(--fg);
  --br: var(--fg);

  --brightest: var(--white);
  --darkest: var(--midnight);

  /* Border radius */
  --radius: 0.25rem;

  /* Vertical rythm (in EMs) */
  --vr: 2em;
  --vr-xs: 0.5em;
  --vr-sm: 1em;
  --vr-md: 1.5em;
  --vr-lg: 3.5em;
  --vr-xl: 4.5em;

  /* Horizontal spaces (in REMs) */
  --sp: 2rem;
  --sp-xs: 0.5rem;
  --sp-sm: 1rem;
  --sp-md: 1.5rem;
  --sp-lg: 3.5rem;
  --sp-xl: 4.5rem;

  /* Fluid sizes */
  --sz-xs: clamp(0.6944rem, 0.6366rem + 0.2894vi, 0.8681rem);
  --sz-sm: clamp(0.8333rem, 0.7639rem + 0.3472vi, 1.0417rem);
  --sz-0: clamp(1rem, 0.9167rem + 0.4167vi, 1.25rem);
  --sz-1: clamp(1.2rem, 1.1rem + 0.5vi, 1.5rem);
  --sz-2: clamp(1.44rem, 1.32rem + 0.6vi, 1.8rem);
  --sz-3: clamp(1.728rem, 1.584rem + 0.72vi, 2.16rem);
  --sz-4: clamp(2.0736rem, 1.9008rem + 0.864vi, 2.592rem);
  --sz-5: clamp(2.4883rem, 2.281rem + 1.0368vi, 3.1104rem);
}
